<h3><%= part.name  %></h3>
<ul>
    <% part.data.forEach(function(row) { %>
        <li>
            <a class="noclick" onclick="copyToClipboard(this)" title="<%= row.en %>"><%= row.de %></a>
        </li>
    <% }); %>
</ul>
