<h3><%= name  %></h3>
<ul>
    <% data.forEach(function(row) { %>
        <li>
            <a class="noclick" onclick="<%= onclick %>(this)" title="<%= row.title %>"><%= row.text %></a>
        </li>
    <% }); %>
</ul>
